@{
    ViewBag.Title = "Basic";
}
<div id="basicPage">
    <div id="grid">
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: "/Home/CategoryRead"
                },
                schema: {
                    model: {
                        fields: {
                            CategoryId: { type: "number" },
                            Name: { type: "string" }
                        }
                    }
                },
                pageSize: 5,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            height: 250,
            filterable: true,
            groupable: true,
            sortable: true,
            pageable: {
                refresh: true,
                pageSizes: true
            },
            columns: [{
                field: "CategoryId",
                title: "Category ID",
                width: 50,
                filterable: false
            },
                             {
                                 field: "Name",
                                 title: "Category Name",
                                 width: 250
                             }]
        }); //end of kendo grid

        //kendo.ui.progress($("#grid"), true)

    });

</script>
